#app,html,body{
	width: 100%;
	height: 100%;
	background: #1f2129;
}
#mt{
	width: 100%;
	height: 1.5rem;
}
.m-list{
	padding:0 1rem;
}
.popularize{
	width: 100%;
	height: 21rem;
	background: url(../../image/bg_popularize.png) no-repeat;
	background-size: 100% 21rem;
	border-radius: 0.5rem;
}
.u-btn{
	margin: 0 auto;
	width: 50%;
	height:2.5rem;
	line-height: 2.5rem;
	/*margin-top: 1.625rem;*/
	color: #57a1f9;
	text-align: center;
}
.special{
	color: #dabb84;
}
.p-text{
	margin-top: 8rem;
	color: #23262e;
	font-size: 0.675rem;
	font-family: "PF-Regular";
	padding: 0 1.5rem;
	word-break:break-all;
}
.p-text p{
	word-break:break-all;
}
.p-text p span{
	word-break:break-all;
}
.p-img{
	height: 4.5rem;
}
.p-img-l{
	height: 4.5rem;
	background: url(../../image/bg_p_l.png) no-repeat bottom right;
	background-size: 3.35rem 3.25rem;
}
.p-img-r{
	width: 4.2rem;
	height: 4.2rem;
}
.share{
	width: 2.5rem;
	height: 2.2rem;
	background: url(../../image/icon_share.png) no-repeat center right;
	background-size: 0.8rem;
}
.aui-bar-nav .aui-pull-right{
	padding: 0 1rem;
}