.userInfo{
	width: 100%;
	height: 12.45rem;
	background: #235697;
	color: #FFFFFF;
}
.userImg {
	width: 4.25rem;
	height: 4.25rem;
	margin: 1.25rem auto;
	border-radius: 50%;
}

.label-top,
.label-bottom {
	height: 0.625rem;
	font-family: "PF-Medium";
}
.label-top {
	text-align: center;
	color: #fefefe;
	font-size: 0.625rem;
}

.label-bottom {
	padding-right: 0.25rem;
	text-align: center;
	color: #FEFEFE;
	font-size: 0.45rem;
}

.QRCode{
	width: 0.6rem;
	height: 0.6rem;
	background: url(../../image/icon_QRCode.png) no-repeat center;
	background-size: 0.6rem;
	
}

.userAssets{
	height:5.075rem;
	
}
.userAssets-l-t{
	height: 0.75rem;
	line-height: 0.75rem;
	margin-top: 0.625rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.7rem;
	font-family: "PF-Medium";
}
.userAssets-l-b{
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.55rem;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.85rem;
	font-family: "PF-Medium";
}
.userAssets-l-b-d{
	font-size: 0.5rem;
}
.division{
	margin-top: 1rem;
	height: 1.5rem;
	width: 0.04rem;
	background:#849ebf;
}
.division1{
	margin-top: 1.5rem;
	height: 3rem;
	width: 0.05rem;
	background:#E6E6E6;
}
.bg-top2{
	padding-bottom: 1.25rem;
}
.userExtension{
	height: 6rem;
}
.userExtension-l-t{
	height: 0.75rem;
	line-height: 0.75rem;
	margin-top: 1.375rem;
	text-align: center;
	color:#313131;
	font-size: 0.8rem;
	font-family: "PF-Regular";
}
.userExtension-l-b{
	height: 1.75rem;
	line-height: 1.75rem;
	margin-top: 0.75rem;
	text-align: center;
	color: #f82b49;
	font-size: 1.35rem;
	font-family: "PF-Bold";
}
.userExtension-l-b-d{
	font-size: 0.6rem;
}
.user-btn{
	margin-top: 0.5rem;
	width: 100%;
	height: 1.65rem;
	line-height: 1.65rem;
	text-align: center;
	color: #245799;
	font-size: 0.75rem;
	font-family: "PF-Medium";
	border:solid #001435 0.05rem;
	border-radius: 0.375rem;
}
.user-btn-list{
	margin: 0 1.05rem;
}
